<div id="<%= dom_id frozen_item %>">
  <p>
    <strong>Frozen item:</strong>
    <%= frozen_item.frozen_item %>
  </p>

  <p>
    <strong>Date on package:</strong>
    <%= frozen_item.date_on_package %>
  </p>

</div>
