<div id="<%= dom_id frozen_item %>">
  <div class="card-title">
    <strong>Frozen item:</strong>
    <%= frozen_item.frozen_item %>
  </div>

  <div class="card-text">
    <strong>Date on package:</strong>
    <%= frozen_item.date_on_package %>
  </div>
  <div class="card-text">
    <strong>User:</strong>
    <%= frozen_item.user_id %>
  </div>
</div>
