<h1>Editing frozen item</h1>

<%= render "form", frozen_item: @frozen_item %>

<br>

<div>
  <%= link_to "Show this frozen item", @frozen_item %> |
  <%= link_to "Back to frozen items", frozen_items_path %> |
  <%= button_to "Destroy this frozen item", @frozen_item, method: :delete, class:'btn btn-danger mt-2' %>

</div>
