<h1>Editing frozen item</h1>

<%= render "form", frozen_item: @frozen_item %>

<br>

<div class='ms-3'>
  <%= link_to "Show this frozen item", @frozen_item, class:'btn btn-success mb-4' %> <br/>
  <%= link_to "Back to frozen items", frozen_items_path, class:'btn btn-primary' %>
</div>
